.jumbotron {
  padding-top: 8rem;
  background-color: #94b4c1;
}

#projects {
  background-color: #94b4c1;
}

section {
  padding-top: 6rem;
}

body {
  margin: auto;
  font-family: "Ibarra Real Nova", serif;
}
